##### 점프 투 파이썬
---
02장

> Q1    
``` 
    홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

    과목	점수
    국어	80
    영어	75
    수학	55   
```

In [5]:
#과목별 점수
korean  = 80
english = 75
math    = 55

# 총합
sum     = korean + english + math
# 평균
avg     = sum/3
#평균 값에 소숫점 없애기
a =("%0.0f" % avg)

#값 
print("평균은 ", a, "입니다.")

평균은  70 입니다.

In [73]:
# print(type([]))
subjects = [80, 75, 55]
subjects[0]

total = subjects[0] + subjects[1] + subjects[2]
# len(subjects)

# print(subjects)
# print(total)
# help(subjects)
avg = "%0.0f" %(total / len(subjects))
print(avg)

70

In [85]:
subjects = {
    "국어":80,
    "영어":75, 
    "수학": 55
    }
subjects["수학"]
# print(type({}))
total = subjects["국어"] + subjects["영어"] + subjects["수학"]
avg = total / len(subjects)
print("avg =", avg)

avg = 70.0

In [28]:
# 사용자로부터 이름과 성적을 입력받아 총점과 평균을 구해 출력하는
# 프로그램을 작성하시오
# input()
# input()
name = input("이름을 입력하세요: ")
kor = input("국어 점수를 입력하세요 : ")
eng = input("영어 점수를 입력하세요 : ")
math = input("수학 점수를 입력하세요 : ")

total = int(kor) + int(eng) + int(math) #형변환 str >> int
avg = total / 3

# print(name, "님의 총점 = ", total, "평균은 : ", avg, "입니다.")
print(f"{name}님의 총점 = {total}, 평균은 : {avg}입니다.")

고영희님의 총점 = 225, 평균은 : 75.0입니다.

> Q2   
``` py
    자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.
```

In [3]:
# 짝수 : "02468"
# 홀수 : "13579"
num = input("정수를 입력하세요: ")

if num[-1] in "02468":
    print("짝수입니다.")
else :
    print("홀수입니다.")

홀수입니다.

In [5]:
number = int(input("자연수를 입력하세요: "))

if number % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

홀수입니다.

In [4]:
# 자연수 13 홀짝 판별
if 13 % 2 == 1 :
    print("홀수입니다.")

홀수입니다.

In [2]:
#자연수 a 홀짝 판별
a = 0
# 홀수 판별 방법
b = a % 2

#자연수 a가 짝수인지 혹은 홀수인지 판별하는 조건식
if b == 0:
    print("짝수 입니다.")
elif b == 1:
    print("홀수 입니다.")
else :
    print("정확한 값을 입력해주세요.")

정확한 값을 입력해주세요.

> Q3   
``` py   
    홍길동 씨의 주민등록번호는 881120-1068234이다.  
    홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.
```

In [30]:
name     = input("이름을 입력해주세요 : ")
pin      = input("'-'포함하여 주민번호 13자리를 입력해 주세요 : ")
yymmdd   = pin[:6] # pin[0:6] 으로도 사용 가능
num      = pin[7:] # pin[7:0] 으로도 사용가능
yy       = int(pin[:2])
mm       = pin[2:4]
dd       = pin[4:6]
gender   = pin[7]

if gender == 1 or 2:
    yy += 1900
else:
    yy += 2000

age = 2022 - yy + 1

if gender == "1" or gender == "3":
    gen = "남성입니다."
elif gender == "2" or gender == "4":
    gen = "여성입니다."
else :
    print("정확한 주민번호를 입력하세요")

print(f"이름: {name}\n주민번호 앞자리: {yymmdd}  뒷자리: {num}\n{yy}년생 {mm}월 {dd}일 출생자입니다.\n나이는\
     {age}살 이며, {gen}")

이름: 유병문
주민번호 앞자리: 930809  뒷자리: 1951613
1993년생 08월 09일 출생자입니다.
나이는     30살 이며, 남성입니다.

> Q4   
``` py   
    주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다.    
    주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.   
```

In [86]:
pin      = "930809-2951111"
gender   = pin[7]
if gender == "1" or gender == "3":
    print("남성입니다.")
elif gender == "2" or gender == "4":
    print("여성입니다.")
else :
    print("정확한 주민번호를 입력하세요")

여성입니다.

> Q5   
``` py
    다음과 같은 문자열 a:b:c:d가 있다.    
    문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.   
```

In [89]:
str = "a:b:c:d"
change = str.replace(":","#")

print(change)

a#b#c#d

In [55]:
str = "a:b:c:d"
change = str.replace(":","#")

tt = "12:03:21"
tt.replace(":","/")

te = "Python Programming"
print(te.replace("Python", "Java"))

strs = "abcd"
print(strs, end=" ")
print(strs, end=" ")
print(strs, end="\n")
print(strs)
print(strs)

for c in "abcd":
    print(c,end=":")

Java Programming
abcd abcd abcd
abcd
abcd
a:b:c:d:

> Q6.   
``` py   
    [1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자.   
```

In [82]:
# 1. 슬라이싱
def reverse_int(list):
    list.sort()
    return list[::-1]
print(reverse_int([1,3,5,4,2]))

[5, 4, 3, 2, 1]

In [22]:
# 2. reverse()함수
list=[1,3,5,4,2]
list.sort()
list.reverse()
print(list)

[5, 4, 3, 2, 1]

In [75]:
list=[1,3,5,4,2]
list.sort()
print(list[::-1])

[5, 4, 3, 2, 1]

In [85]:
li = [100, 30, 50, 40, 20, 95]
li.sort()
print(li)
li.reverse()
print(li)
max(li)
max(li) == li[0]
min(li) == li[-1]

[20, 30, 40, 50, 95, 100]
[100, 95, 50, 40, 30, 20]

True

In [ ]:
# 3. max 활용?
#list[1,3,5,4,2] 를 [5,4,3,2,1] 로바꾸기
#함수를 사용하고싶다
#빈 list a[] 에 큰수 부터 넣고싶다
#반복문을 사용해야겠다 5번
# 


# list=[1,3,5,4,2]
# a = []
# for i in range(len(list)):
# 수정중
# print(a)

> Q7.   
``` py   
    ['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.   
```

In [99]:
old_text = ['Life', 'is', 'too', 'short']
# 1.new_text = old_text[0] + old_text[1] + old_text[2] + old_text[3]
# 2.new_text = ""
# for s in old_text:
#     print(new_text)
#     new_text += s + " "
# print(new_text)
#
# 3.
new_text = "{} {} {} {}".format(old_text[0],old_text[1],old_text[2],old_text[3])
print(new_text)

Life is too short

> Q8.   
``` py   
    (1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자.   
```

In [116]:
# objects = ['a', 1, True, [100, 200,['x','y']]]
# objects[3][2][1]

li = [1, 2, 3]
tu = (1, 2, 3)

li.append(4)
li[0] = 100
print("li =", li)

tu = tu + (4,)
print(tu)

li2 = [1,2,3,4]
tu2 = tuple(li2)
print(tu2)

li = [100, 2, 3, 4]
(1, 2, 3, 4)
(1, 2, 3, 4)

> Q9.   
``` py   
    다음과 같은 딕셔너리 a가 있다. 다음 중 오류가 발생하는 경우는 어떤 경우인가?   
    그리고 그 이유를 설명해 보자.   
    >>> a = dict()   
    >>> a   
    {}   

    다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.   

    1. a['name'] = 'python'   
    2. a[('a',)] = 'python'   
    3. a[[1]] = 'python'   
    4. a[250] = 'python'   
```

In [136]:
a = dict()
a['name'] = "python"
print(a)

a[('a',)] = 'python'
print(a)

a[250]    = "python"
print(a)

a['name'] = "java"
print(a)

# 딕셔너리   KET값은 중복이 될수 없다.
# error List 는 변경이 가능한 자료형이여서 KEY값으로 사용할 수 없다.
a = dict()
a[[1]] = "python"
print(a)

{'name': 'python'}
{'name': 'python', ('a',): 'python'}
{'name': 'python', ('a',): 'python', 250: 'python'}
{'name': 'java', ('a',): 'python', 250: 'python'}

TypeError: unhashable type: 'list'

In [138]:
# 상수 = 변할수 없다.

text    = "Python"
text[0] = 'J'
print(text)

TypeError: 'str' object does not support item assignment

> Q10   
``` py   
    딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.   

    >>> a = {'A':90, 'B':80, 'C':70}   
    ※ 딕셔너리의 pop 함수를 사용해 보자.   
```

In [149]:
a = {'A':90, 'B':80, 'C':70} 
print(a)
print(a.pop('B'))
print(a)
print(a.pop("A"))
print(a)

{'A': 90, 'B': 80, 'C': 70}
80
{'A': 90, 'C': 70}
90
{'C': 70}

TypeError: 'dict' object is not callable

> Q11   
``` py   
    a 리스트에서 중복 숫자를 제거해 보자.   

    >>> a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]    
    ※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.    
```

In [150]:
a = [1,1,1,2,2,3,3,3,4,4,5]
# [1,2,3] #list
# (1,2,3) # 튜플(상수)
# {"a":1, "b":2, "c":3} # dict
# {1,2,3} # set

print(a)
print(set(a))

[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
{1, 2, 3, 4, 5}

> Q12   
``` py   
    파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다.    
    다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까?    
    그리고 이런 결과가 오는 이유에 대해 설명해 보자.   

    >>> a = b = [1, 2, 3]   
    >>> a[1] = 4   
    >>> print(b)   
```

In [144]:
# 연산자는 우선순위 연산이 있다
# 대입은 항상 왼쪽에서 부터 시작한다.

a = b =[1,2,3]
a[1] =4
print(b)

[1, 4, 3]

In [153]:
# a = b =[1,2,3]
# print(id(a))
# print(id(b))

a = [1, 2, 3]
b = [1, 2, 3]

print(id(a))
print(id(b))

a[1] = 4
print(a)
print(b)

1751219692672
1751219686784